.container {
    background-color: rgb(30, 19, 35);
    transition: opacity 0.4s ease-out;
    overflow-x: hidden;
    width: 100%;
    z-index: 10;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}
.main {
    padding: 3rem;
    position: relative;
    color: #B8A3CC;
    line-height: 16px;
}

.main li {
    font-size: 1.15rem;
    line-height: 28px;
    list-style-type: square;
}

.main h2 { 
    font-size: 2rem;
}

.main h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.main p {
    font-size: 1.15rem;
}

.container {
    scrollbar-width: none;
    -ms-overflow-style: none;
 }
 
 .container::-webkit-scrollbar {
   display: none;
 }


.scroll-container {
    height: calc(100% - 8rem);
    position: absolute;
    top: 3rem;
    width: 0.8rem;
    right: 1rem;
}
.scrollbar {
    min-height: 5%;
    width: 0.8rem;
    top: calc(0 + 4rem);
    border-radius: 1rem;
    background-color: #110915;
    position: absolute;
}

.flex {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 640px;
}


@media (min-width: 1280px) {
    .container {
        width: 40vw;
    }


    .scrollbar {
        min-height: 20%;
    }
}