.app {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}
