.container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    max-height: 100vh;
}

.filler {
    flex-grow: 100;
    min-height: 100%;
}
.vertical {
    flex-direction: column-reverse !important;
    flex-grow: 100;
}

.horizontal {
    flex-grow: 1;
    height: 100vh;
}

/* .effect {
    top: -1080px;
    position: absolute;
    object-fit: fill;
    background-repeat: no-repeat;
    min-width: 5080px;
    background-image: url(../../assets/transition.svg);
    z-index: 100;
    min-height: 1080px;
}

.effect-top {
    animation: 0.35s ease-in 0.1s moveUp;
}
.effect-bottom {
    animation: 0.35s ease-in 0.1s moveDown;
} */

@media (min-width: 1280px) {
    .container {
        flex-direction: row; 
    }
}

@keyframes moveUp {
    from {top: 1080px; transform: rotateX(0turn)}
    to {top: -1080px; transform: rotateX(0turn)}
}

@keyframes moveDown {
    from {top: -1080px; transform: rotateX(0.5turn)}
    to {top: 1080px; transform: rotateX(0.5turn)}
}