.container {
    flex-grow: 100;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    height: 100vh;
}

.verticalLayout {
    flex-direction: column-reverse !important;
}

.filler {
    flex-grow: 100;
}

.effect {
    top: -1080px;
    position: absolute;
    object-fit: fill;
    background-repeat: no-repeat;
    min-width: 5080px;
    background-image: url(../../assets/transition.svg);
    z-index: 100;
    min-height: 1080px;
}

.effect-top {
    animation: 0.45s ease-in 0.15s moveUp;
}
.effect-bottom {
    animation: 0.45s ease-in 0.15s moveDown;
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row; 
    }
}

@keyframes moveUp {
    from {top: 1080px; transform: rotateX(0turn)}
    to {top: -1080px; transform: rotateX(0turn)}
}

@keyframes moveDown {
    from {top: -1080px; transform: rotateX(0.5turn)}
    to {top: 1080px; transform: rotateX(0.5turn)}
}